<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Grade calculator</title>
	<script src="index.js" type="module"></script>
</head>
<body>
<header>
	<h1><strong>6.S063</strong> Grade Calculator</h1>
</header>
<div id="grade_calc">
	<ul>
		<li>
			Participation: {{ participationGrade }}
			<ul>
				<li v-for="(grade, type) in participation">
					{{ type }}:
					<input v-model="participation[type]" type="number" /> / 100
				</li>
			</ul>
		</li>
		<li>Homeworks: {{ homeworkAverage }}
			<ul>
				<li v-for="(hw, i) in homeworks">
					homework {{ i + 1 }}:
					<input v-model="homeworks[i]" type="number"> / 100
				</li>
			</ul>
		</li>
	</ul>
	<button @click="addHomework()">Add homework</button>
	<div>Projected class grade: {{ calculatedGrade }}</div>
</div>

</body>
</html>
